/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/* Main */
main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
}
header img{
    padding: 30px 0px;
}
.menu ul {
    display: flex;
    list-style-type: none;
    gap: 68px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.menu li{
    border-top: solid 2px transparent;
    padding-top: 14px; 
}
.menu li:hover{
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
}

/* Info group */
.info-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
/* Headline */
.headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.headline h1{
    font-size: 22px;
    margin-bottom: 0;
}
.headline p{
    margin: 0;
}
/* Search-bar */
.search-bar{
    display: flex;
}
.icon-location{
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    position: relative;
}
.fa-location-dot{
    color: black;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    font-size: 18px;
    font-weight: 700;
    border: solid 1px var(--main-bg-color);
    text-align: center;
    width: 195px;
}
form{
    display: flex;
    justify-content: center;
}
.button-search{
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    border: solid var(--main-color);
    padding-left: 15px;
    padding-right: 15px;
}
.loupe{
    display: none;
}

/* Filtres */
.filtres{
    display: flex;
    align-items: center;
    gap: 15px;
}
.fil1, .fil2{
    display: flex;
    gap: 15px;
}
.tablette1, .tablette2{
    display: flex;
    gap: 15px;
}
.filtres h3{
    font-size: 18px;
}
.fil{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
}
.fil:hover{
    background-color: #DEEBFF;
}

/* Infobar */
.infobar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.infobar p{
    margin: 0;
}
.info-icon{
    border: solid 1px #D9D9D9;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
}
.fa-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.hebergements-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.row1, .row2{
    display: flex;
    gap: 30px;
}
.hebergements-cards a{
    display: flex;
    flex: 1;
    padding: 0px 0px 15px 0px;
}
.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hebergements-cards img{
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
.hebergements-cards .card-content {
    padding: 0px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
.plus{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */
.activites{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}
.activites-title {
    margin: 0;
}
.activites-cards{
    display: flex;
    gap: 30px;
}
.activites-cards img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}
.activites-cards a{
    flex: 1;
    display: flex;
}
.activites-cards .card{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
}
.activites-cards h3{
    padding: 0px 15px 0px 15px;
}

/* Footer */
.footer-container{
    background-color: var(--main-bg-color);
}
.footer{
    display: flex;
    padding: 0px 20px;
}
.list{
    flex: 1;
}
.footer ul{
    padding: 0;
}
.footer li{
    margin-bottom: 15px;
    list-style-type: none;
}
.footer h2{
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards img{
        height: 200px;
    }
    .filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
      
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px){
    .main-container {
        max-width: 767.98px;
        padding: 0;
    }
    .menu{
        width: 100%;
        text-align: center;
    }
    .menu ul{
        gap: 15px;
    }
    .menu li{
        flex: 1;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .header img{
        gap: 10px;
    }
    .menu li{
        border-bottom: solid 2px transparent;
        padding-bottom: 14px; 
        
    }
    .menu li:hover{
        color: var(--main-color);
        border-bottom: solid 2px var(--main-color);
        border-top: none;
    }
    .info-group{
        padding: 0px 20px 0px 20px;
        align-items: center;
    }
    .headline h1{
        margin: 0;
    }
    .button-search{
        display: none; 
    }
    input{
        width: 231px;
        padding-left: 25px;
        text-align: left;
    }
    .loupe{
        display: block;
        background-color: #0065FC;
        width: 49px;
        height: 49px;
        border-radius: 15px;
        position: relative;
        margin-left: -15px;
        box-shadow: 0 4px 4px #0000002e;
          
    }
    .loupe span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .clique{
        background-color: #0065FC;
        border: 0;
    }
    .fa-magnifying-glass{
        color: white;
    }
    .filtres{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .filtres h3{
        margin: 0;
    }
    .tablette2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .fil{
        flex: 1;
    }
    .hebergements-and-populaires section{
        border-radius: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }
    #heber{
        background-color: white;
    }
    .hebergements {
        width: 100%;
        gap: 15px;
    }
    .hebergements-cards{
        display: flex;
        gap: 15px;
    }
    .row1, .row2{
        flex-direction: column;
        gap: 15px;
    }
    .hebergements-cards a{
        width: 100%;
        padding: 0;
    }
    .populaires {
        width: 100%;
    }
    .populaires-cards{
        gap: 15px;
    }
    .populaires-cards .card{
        margin-top: 15px;
    }
    .populaires img{
        height: 146px;
    }
    .activites-cards{
        flex-direction: column;
        gap: 15px;
    }
    .activites-cards img{
        height: 141px;
    }
    .footer{
        flex-direction: column;
        padding: 30px;
        gap: 20px;
    }
}